@using Shop.Models
@using Shop.Dal.Entities
@using Shop.Helpers
@model AddFormModel
@{
    ViewBag.Title = "AddForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/addform.css" /> 
<link rel="stylesheet" href="~/Content/bootstrap.min.css" /> 
<script src="~/Scripts/addform.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="main_add_window" productid="@Model.Id.GetValueOrDefault()">
    <table>
        <tr>
            <td colspan="2"><h2><b>Добавить товар</b></h2></td>
            <td><a href="#" class="btn btn-success" id="addproduct" role="button">Сохранить</a></td>
        </tr>
        <tr>
            <td></td>
            <td class="checkfield">
                <div class="alert alert-danger" id="name_alert" role="alert">
                    Введите название
                </div>
            </td>
        </tr>
        <tr>
            <td class="legend"><span>Название</span></td>
            <td><input id="name" /></td>
        </tr>
        <tr>
            <td></td>
            <td class="checkfield">
                <div class="alert alert-danger" id="articul_alert" role="alert">
                    Введите артикул
                </div>
            </td>
        </tr>
        <tr>
            <td class="legend"><span>Артикул</span></td>
            <td><input id="articul" /></td>
        </tr>
        <tr>
            <td></td>
            <td class="checkfield">
                <div class="alert alert-danger" id="description_alert" role="alert">
                    Введите описание
                </div>
            </td>
        </tr>
        <tr>
            <td class="legend"><span>Описание</span></td>
            <td><textarea id="description" cols="40"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td class="checkfield">
            </td>
        </tr>
        <tr>
            <td class="legend"><span>Материал</span></td>
            <td>
                <select id="material">
                    @foreach (Material material in Enum.GetValues(typeof(Material)))
                    {
                        <option sizeid="(int)@material">@material.GetMaterial()</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="checkfield">
            </td>
        </tr>
        <tr>
            <td class="legend"><span>Тип</span></td>
            <td>
                <select id="producttype">
                    @foreach (ProductType type in Enum.GetValues(typeof(ProductType)))
                    {
                        <option sizeid="(int)@type">@type.GetPathName()</option>
                    }
                </select>
            </td>
        </tr>
        
        @*<tr >
            <td colspan="2"><h2>Цены</h2></td>
        </tr>
        <tr>
            <td class="checkfield">
                <div class="alert alert-danger" id="price_alert" role="alert">
                    Введите цену
                </div>
            </td>
        </tr>
        <tr>
            <td class="legend"><div class="pricearia">
                @Html.Partial("PriceAria", @Model)
            </div></td>
            <td><a href="#" class="btn btn-success" id="addnewprice" role="button">Добавить еще</a></td>
        </tr>*@
    </table>
    

	<p>
		<h2><b>Цены</b>
		</h2>
	</p>
	<div class="alert alert-danger" id="price_alert" role="alert">
		Введите цену
	</div>
	<div class="pricearia">
		@Html.Partial("PriceAria", @Model)
	</div>
	<p>
		<button id="addnewprice">Добавить еще</button>
	</p>
	<br/>
	<br />
	<p>
		<h2><b>Фото</b></h2>
	</p>
	<p>
		<div class="alert alert-danger" id="photo_alert" role="alert">
			Загрузите фотографию
		</div>
		<div class="alert alert-danger" id="photo_load_alert" role="alert">
			Ошибка загрузки фотографии
		</div>
		<div class="photo_aria">
			<p>
				<input type="file" name="files[]" id="photoes" multiple/>
			</p>
			<br/>
			<br/>
			<p>
				<output id="list"></output>
			</p>
		</div>
	</p>
</div>


